# تجاهل مجلدات وملفات الكاش والبايثون المؤقتة
__pycache__/
*.pyc

# تجاهل ملفات قواعد البيانات
*.db

# تجاهل ملفات البيئة الافتراضية أو الإعدادات السرية
.env

# تجاهل مجلد التقارير الناتجة
reports/

# تجاهل ملفات الإعدادات المؤقتة أو المحلية
instance/
*.log
